body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
  --header-timeline:red;
  --grey:rgb(239,239,239);
  --border:rgb(219,219,219);
  --light-font:rgb(196,196,196);
  --link-color:rgb(0,55,129);
  --primary-color:rgb(38,38,44);
  --inactive-links:rgb(148, 146, 146);
}